{% extends 'chatbot/1-layout.html' %}
{% block title %}Image_Generator{% endblock %}
{% block content %}
	<div class="container">
		<h1 style="color:blue; text-align:center">OKOMBI-AI welcomes {{user.username}} </h1>
		<h3 style="color:blue; text-align:center">TEXT TO IMAGE </h3>
		<form method="post">
			{% csrf_token %}
			<input type="text" class="form-control" name="user_input">
			<button type="submit" class="btn btn-primary mt-3 mb-3"> Submit</button>
		</form>
		{% if object %}
			<div>
				{{ object.phrase }}
				<br>
				<img src="{{ object.ai_image.url }}" alt="{{ object.phrase}}">
			</div>
		{% endif %}
	</div>
{% endblock %}
